body, p, a, input, a, ul, ol, li, section, h1, h2, h3, h4, h5, h6, div, img {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

body {
  background: whitesmoke;
  font-family: arial;
}

button {
  cursor: pointer;
}

section {
  margin: 0 auto;
  width: 700px;
}
